@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Gotham Condensed", "sans-serif";
  --font-body: "IBM Plex Sans Condensed", "sans-serif";
  --color-uaap-blue: #1c41d5;
  --color-uaap-dark-blue: #002581;
  --color-uaap-orange: #ed6226;
  --color-uaap-purple: #8f2886;
}

/* FONTS */
/* Gotham Condensed */
@font-face {
  font-family: "Gotham Condensed";
  src: url("./assets/fonts/GothamCondensed/GothamCond-XBlack.otf");
  font-weight: 950;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Condensed";
  src: url("./assets/fonts/GothamCondensed/GothamCond-XBlackItalic.otf");
  font-weight: 950;
  font-style: italic;
}
@font-face {
  font-family: "Gotham Condensed";
  src: url("./assets/fonts/GothamCondensed/GothamCond-Black.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Condensed";
  src: url("./assets/fonts/GothamCondensed/GothamCond-BlackItalic.otf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Gotham Condensed";
  src: url("./assets/fonts/GothamCondensed/GothamCond-Ultra.otf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Condensed";
  src: url("./assets/fonts/GothamCondensed/GothamCond-UltraItalic.otf");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Gotham Condensed";
  src: url("./assets/fonts/GothamCondensed/GothamCond-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Condensed";
  src: url("./assets/fonts/GothamCondensed/GothamCond-BoldItalic.otf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Gotham Condensed";
  src: url("./assets/fonts/GothamCondensed/GothamCond-Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Condensed";
  src: url("./assets/fonts/GothamCondensed/GothamCond-MediumItalic.otf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Gotham Condensed";
  src: url("./assets/fonts/GothamCondensed/GothamCond-Book.otf");
  font-weight: 350;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Condensed";
  src: url("./assets/fonts/GothamCondensed/GothamCond-BookItalic.otf");
  font-weight: 350;
  font-style: italic;
}
@font-face {
  font-family: "Gotham Condensed";
  src: url("./assets/fonts/GothamCondensed/GothamCond-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Condensed";
  src: url("./assets/fonts/GothamCondensed/GothamCond-LightItalic.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Gotham Condensed";
  src: url("./assets/fonts/GothamCondensed/GothamCond-XLight.otf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Condensed";
  src: url("./assets/fonts/GothamCondensed/GothamCond-XLightItalic.otf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Gotham Condensed";
  src: url("./assets/fonts/GothamCondensed/GothamCond-Thin.otf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Condensed";
  src: url("./assets/fonts/GothamCondensed/GothamCond-ThinItalic.otf");
  font-weight: 100;
  font-style: italic;
}
