@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* FONTS */
@font-face {
  font-family: "GothamCond";
  src: url("./fonts/GothamCondensed/GothamCond-XBlack.otf") format("truetype");
  font-weight: 950;
  font-style: normal;
}
@font-face {
  font-family: "GothamCond";
  src: url("./fonts/GothamCondensed/GothamCond-XBlackItalic.otf")
    format("truetype");
  font-weight: 950;
  font-style: italic;
}
@font-face {
  font-family: "GothamCond";
  src: url("./fonts/GothamCondensed/GothamCond-Black.otf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "GothamCond";
  src: url("./fonts/GothamCondensed/GothamCond-BlackItalic.otf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "GothamCond";
  src: url("./fonts/GothamCondensed/GothamCond-Ultra.otf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "GothamCond";
  src: url("./fonts/GothamCondensed/GothamCond-UltraItalic.otf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "GothamCond";
  src: url("./fonts/GothamCondensed/GothamCond-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "GothamCond";
  src: url("./fonts/GothamCondensed/GothamCond-BoldItalic.otf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "GothamCond";
  src: url("./fonts/GothamCondensed/GothamCond-Medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GothamCond";
  src: url("./fonts/GothamCondensed/GothamCond-MediumItalic.otf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "GothamCond";
  src: url("./fonts/GothamCondensed/GothamCond-Book.otf") format("truetype");
  font-weight: 350;
  font-style: normal;
}
@font-face {
  font-family: "GothamCond";
  src: url("./fonts/GothamCondensed/GothamCond-BookItalic.otf")
    format("truetype");
  font-weight: 350;
  font-style: italic;
}
@font-face {
  font-family: "GothamCond";
  src: url("./fonts/GothamCondensed/GothamCond-Light.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GothamCond";
  src: url("./fonts/GothamCondensed/GothamCond-LightItalic.otf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "GothamCond";
  src: url("./fonts/GothamCondensed/GothamCond-XLight.otf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "GothamCond";
  src: url("./fonts/GothamCondensed/GothamCond-XLightItalic.otf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "GothamCond";
  src: url("./fonts/GothamCondensed/GothamCond-Thin.otf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "GothamCond";
  src: url("./fonts/GothamCondensed/GothamCond-ThinItalic.otf")
    format("truetype");
  font-weight: 100;
  font-style: italic;
}
