@import "tailwindcss";

@theme {
  --font-display: "GothamCond", "sans-serif";
  --font-body: "IBM Plex Sans Condensed", "sans-serif";
  --color-uaap-blue: #1c41d5;
  --color-uaap-dark-blue: #002581;
}
/* 
:root {
  overflow: hidden;
} */

/* FONTS */
/* IBM Plex Sans Condesed */
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("./assets/fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("./assets/fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("./assets/fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("./assets/fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("./assets/fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("./assets/fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("./assets/fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("./assets/fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("./assets/fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("./assets/fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("./assets/fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("./assets/fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-ExtraLight.ttf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("./assets/fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("./assets/fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

/* Gotham Condensed */
@font-face {
  font-family: "GothamCond";
  src: url("./assets/fonts/GothamCondensed/GothamCond-XBlack.otf");
  font-weight: 950;
  font-style: normal;
}
@font-face {
  font-family: "GothamCond";
  src: url("./assets/fonts/GothamCondensed/GothamCond-XBlackItalic.otf");
  font-weight: 950;
  font-style: italic;
}
@font-face {
  font-family: "GothamCond";
  src: url("./assets/fonts/GothamCondensed/GothamCond-Black.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "GothamCond";
  src: url("./assets/fonts/GothamCondensed/GothamCond-BlackItalic.otf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "GothamCond";
  src: url("./assets/fonts/GothamCondensed/GothamCond-Ultra.otf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "GothamCond";
  src: url("./assets/fonts/GothamCondensed/GothamCond-UltraItalic.otf");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "GothamCond";
  src: url("./assets/fonts/GothamCondensed/GothamCond-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "GothamCond";
  src: url("./assets/fonts/GothamCondensed/GothamCond-BoldItalic.otf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "GothamCond";
  src: url("./assets/fonts/GothamCondensed/GothamCond-Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GothamCond";
  src: url("./assets/fonts/GothamCondensed/GothamCond-MediumItalic.otf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "GothamCond";
  src: url("./assets/fonts/GothamCondensed/GothamCond-Book.otf");
  font-weight: 350;
  font-style: normal;
}
@font-face {
  font-family: "GothamCond";
  src: url("./assets/fonts/GothamCondensed/GothamCond-BookItalic.otf");
  font-weight: 350;
  font-style: italic;
}
@font-face {
  font-family: "GothamCond";
  src: url("./assets/fonts/GothamCondensed/GothamCond-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GothamCond";
  src: url("./assets/fonts/GothamCondensed/GothamCond-LightItalic.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "GothamCond";
  src: url("./assets/fonts/GothamCondensed/GothamCond-XLight.otf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "GothamCond";
  src: url("./assets/fonts/GothamCondensed/GothamCond-XLightItalic.otf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "GothamCond";
  src: url("./assets/fonts/GothamCondensed/GothamCond-Thin.otf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "GothamCond";
  src: url("./assets/fonts/GothamCondensed/GothamCond-ThinItalic.otf");
  font-weight: 100;
  font-style: italic;
}
