section.title {
  display: flex;
  width: 300px;
  flex-flow: column nowrap;
  align-items: stretch;
  gap: 8px;
  padding-top: 10vh;
}

section.title > div {
  overflow: hidden;
  text-align: left;
  padding: 0;
  margin: 0;
}

section.title > div > h1 {
  font-family: "Gotham Condensed";
  color: #1c41d5;
  margin: 0;
  padding: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.titleUAAP > h1 {
  font-size: 8rem;
  line-height: 6.5rem;
}

.titleSeason > h1 {
  font-size: 5rem;
  line-height: 5rem;
}

.titleSemester > h1 {
  font-size: 2rem;
  line-height: 2rem;
}

@media (max-width: 749px) {
  main {
    display: flex;
    width: 100%;
    max-width: 400px;
    border: 1px solid black;
    flex-flow: column nowrap;
    align-items: center;
  }
}

div.enterButton {
  background: #002581;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-items: center;
  gap: 8px;
  cursor: pointer;
}

.enterButton > p {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.enterButton > img {
  width: 20px;
  height: 20px;
  transition: 250ms transform;
}

.enterButton:hover > img {
  transform: rotate(45deg);
}

@media (min-width: 750px) {
  main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    overflow: hidden;
    grid-auto-rows: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
  }

  section.title {
    grid-column: 2 / 6;
    grid-row: 1 / 8;
    z-index: 20;
  }

  div.underPhoto {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    overflow: hidden;
    z-index: 10;
    position: relative;
  }

  div.underPhoto > img {
    height: 100%;
    width: 100%;
    transform: scale(1.1);
    object-fit: none;
    position: absolute;
  }

  section.graphic {
    grid-column: -1 / -7;
    grid-row: 1 / -1;
    min-height: 100vh;
    z-index: 5;
    position: relative;
  }
}

section.graphic {
  width: 100%;
  height: 450px;
  position: relative;
  overflow: hidden;
}
